#main {
  margin-top: 20px;
  margin-bottom: 50px;
  min-height: 800px;
}

.button, button {
  background: white;
  border: 2px solid $highlight;
  border-radius: 5px !important;
  color: $highlight;
  &:hover {
    background: $highlight;
    color: white;
  }
  &:focus {
    background: $highlight;
    color: white;
  }
}