.top, .contact {
  position: relative;
  z-index: 10;
  background: $info-box;
  padding: 10px 50px;
  &:after {
    content: " ";
    visibility: hidden;
    clear: both;
    display: block;
  }
  .menu {
    margin-top: 5px;
    float: left;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        float: left;
        margin-left: 30px;
        position: relative;
        &:first-child {
          margin-left: 0;
        }
        ul {
          display: none;
        }
        &:hover {
          ul {
            margin: 0;
            padding: 0;
            position: absolute;
            left: 0;
            display: block;
            width: 200px;
            li {
              margin: 0;
              padding: 10px 10px;
              float: left;
              background: $light-highlight;
              width: 100%;
              &:hover {
                background: $highlight;
              }
              a {
                color: white;
              }
            }
          }
        }
      }
    }
  }
  .search {
    float: right;
    width: 30%;
    @media only screen and (max-width: 40em) { 
      width: 100%;
    }
    input {
      margin: 0;
      width: 100%;
      float: left;
    }
  }
}
