.champion-list {
  img {
    &:hover {
      cursor: pointer;
    }
  }
}

.latest {
  text-align: center;
  h3 {
    margin-bottom: 40px;
  }
  ul {
    li {
      padding: 0 30px;
      position: relative;
      h4 {
        font-size: 18px;
      }
    }
  }
}

.latest-container {
  // background: black;
}