.show-video {
  background: $dark-box;
  padding: 20px 0;
}

.video-meta {
  table {
    width: 100%;
  }
}

.video-info {
  background: $info-box;
  padding: 20px;
}

.tags-container {
  div {
    margin-bottom: 10px;
  }
  ul {
    margin-top: 10px;
  }
}

.video-url {
  margin-top: 40px;
  display: block;
}

.tags {
  background: $highlight;
  color: white;
  padding: 3px 5px;
  margin-right: 5px;
}
.tags.light {
  background: $light-highlight;
}

.video-info .tags-container {
  ul {
    margin: 0;
    list-style: none;
    float: left;
    width: 100%;
    li {
      float: left;
      margin-left: 10px;
      background: $highlight;
      color: white;
      padding: 5px 10px;
      &:first-child {
        margin-left: 0;
      }
      &:hover {
        background: $light-highlight;
      }
    }
    &.champions {
      li {
        background: none;
        padding: 0;
      }
    }
  }
  span {
    display: block;
  }
  .tag-title {
    float: left;
    width: 100%;
    margin: 10px 0;
  }
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.videoWrapper iframe, .videoWrapper object {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-list, .stream-list {
  h4 {
    height: 64px;
    overflow: hidden;
  }
}

.highlight {
  background: $highlight;
  color: white;
  padding: 20px 0;
}

.blank {
  padding: 20px 0;
}

.time {
  color: $highlight;
  &:hover {
    cursor: pointer;
  }
}