<div class="row">
  <div class="padding small-12 medium-12 columns">
    <div ng-show="settings.loggedIn">
      <h2>Welcome, {{currentUser.email}} <small><span ng-click="logOut()">(log out)</small></h2>
    </div>
    <div ng-hide="settings.loggedIn" class="sign-in">
      <h2>Please login</h2>
      <form ng-submit="authUser(user)" ng-init="user={}">
        <div>
          <label>E-mail:</label>
          <input type="email" ng-model="user.email"/>
        </div>
        <div>
          <label>Password:</label>
          <input type="password" ng-model="user.password">
        </div>
        <input type="submit" class="button sm" value="sign in"/>
      </form>
    </div>

    <div ng-show="settings.loggedIn">
      <h4>Videos</h4>
      <ul>
        <li ng-repeat="video in videos">
          {{video.title}} <a href ng-click="delete(video)">delete</a>
          <ul>
            <li ng-repeat="play in video.plays">
            {{play.description}}: {{play.minute}}m {{play.second}}s <a href ng-click="deletePlay(play, video)">delete</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>