<div class="row">
  <div class="video-list small-12 columns">
    <h2>Search Results</h2>
    <ul class="small-block-grid-2 medium-block-grid-4">
        <li ng-repeat="video in searchResults">
          <h4><a ng-href="/#/videos/{{video.id}}">{{video.title}}</a></h4>
          <a ng-href="/#/videos/{{video.id}}"><img class="round" ng-src="{{youtubeThumb(video.youtube_id)}}"/></a>
        </li>
    </ul>
  </div>
</div>