<div class="row">
  <div class="padding small-12 columns">
    <ul class="stream-list small-block-grid-1 medium-block-grid-4">
      <li ng-repeat="stream in models.streams">
        <h4><a ng-href="/#/stream/{{stream.stream.channel.display_name}}">{{stream.stream.channel.display_name}}</a></h4>
        <a ng-href="/#/stream/{{stream.stream.channel.display_name}}">
          <img ng-src="{{stream.stream.preview.large}}"/>
        </a>
      </li>
    </ul>
  </div>
</div>