<div class="show-video">
  <div class="row">
  <div class="stream small-12 columns">
    <h2>{{models.streamInfo.stream.channel.display_name}}</h2>
    <div class="sub-info-container">
      <div class="status">
        <h4>{{models.streamInfo.stream.channel.status}}</h4>
      </div>
      <div class="stats">
        <i class="fa fa-users"></i> {{models.streamInfo.stream.viewers}}
        <i class="fa fa-heart"></i> {{models.streamInfo.stream.channel.followers}}
      </div>
    </div>
    <div class="videoWrapper" ng-bind-html="models.player"></div>
  </div>
</div>
</div>
<div class="row">
  <div class="padding small-12 columns">
    <div class="team-container">
      <div class="team-left">
        <table>
          <thead></thead>
          <tbody>
            <tr ng-repeat="player in liveModels.displayTeams.one">
              <td class="champ" ng-bind-html="player.champ.key | championToIcon"></td>
              <td class="player">{{player.player}}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="team-right">
        <table>
          <thead></thead>
          <tbody>
            <tr ng-repeat="player in liveModels.displayTeams.two">
              <td class="player">{{player.player}}</td>
              <td class="champ" ng-bind-html="player.champ.key | championToIcon"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  
</div>