<div class="show-video">
  <div class="row">
  <div class="stream small-12 columns">
    <h2>{{models.streamInfo.stream.channel.display_name}}</h2>
    <div class="sub-info-container">
      <div class="status">
        <h4>{{models.streamInfo.stream.channel.status}}</h4>
      </div>
      <div class="stats">
        <i class="fa fa-users"></i> {{models.streamInfo.stream.viewers}}
        <i class="fa fa-heart"></i> {{models.streamInfo.stream.channel.followers}}
      </div>
    </div>
    <div class="videoWrapper" ng-bind-html="models.player"></div>
  </div>
</div>
</div>
<div class="row">
  <div class="padding small-6 columns">
    <div class="team-container">
      <div class="team-left">
        <table>
          <thead></thead>
          <tbody>
            <tr ng-click="getPlayerStats(player.player.id, player.champ)" ng-repeat="player in liveModels.displayTeams.one">
              <td class="champ" ng-bind-html="player.champ | championIdToIcon"></td>
              <td class="player">{{player.player.name}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="team-right">
        <table>
          <thead></thead>
          <tbody>
            <tr ng-click="getPlayerStats(player.player.id, player.champ)" ng-repeat="player in liveModels.displayTeams.two">
              <td class="player">{{player.player.name}}</td>
              <td class="champ" ng-bind-html="player.champ | championIdToIcon"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="padding small-6 columns stats-container">
      <div class="icon" ng-bind-html="playerModel.stats.id | championIdToIcon"></div>
      <div class="player-stats">
        <h4>{{playerModel.currentPlayer.name}}</h4>
      </div>
      <div class="champ-stats">
        <table>
          <thead>
            <tr>
              <th>Wins</th>
              <th>Losses</th>
              <th>Kills</th>
              <th>Deaths</th>
              <th>Minions</th>
              <th>Pentakills</th>
              <th>KDA</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{playerModel.stats.stats.totalSessionsWon}}</td>
              <td>{{playerModel.stats.stats.totalSessionsLost}}</td>
              <td>{{playerModel.stats.stats.totalChampionKills}}</td>
              <td>{{playerModel.stats.stats.totalDeathsPerSession}}</td>
              <td>{{playerModel.stats.stats.totalMinionKills}}</td>
              <td>{{playerModel.stats.stats.totalPentaKills}}</td>
              <td>{{((playerModel.stats.stats.totalChampionKills + playerModel.stats.stats.totalAssists) / playerModel.stats.stats.totalDeathsPerSession).toFixed(2)}}</td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
</div>