<div class="row">
  <div class="small-12 columns">
    <h2><a ng-href="#/team-builder/{{maxOffense.info.urlhash}}">Highest Offense</a> <small>({{maxOffense.info.attack}})</small></h2>
  </div>
</div>

<div class="team" ng-init="team = []">
  <div class="row">
    <div class="small-12 columns">
      <ul class="small-block-grid-5">
        <li ng-repeat="champ in maxOffense.champions">
          <img ng-src="{{imageUrl}}{{champ.image.full}}">
          <div class="info">
            <h4>{{champ.name}}</h4>
            <p>Tags: {{champ.tags.join(', ')}}</p>
            <p>Role: {{champ.role.join(', ')}}</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <h2><a ng-href="#/team-builder/{{maxDefense.info.urlhash}}">Highest Defense</a> <small>({{maxDefense.info.defense}})</small></h2>
  </div>
</div>

<div class="team" ng-init="team = []">
  <div class="row">
    <div class="small-12 columns">
      <ul class="small-block-grid-5">
        <li ng-repeat="champ in maxDefense.champions">
          <img ng-src="{{imageUrl}}{{champ.image.full}}">
          <div class="info">
            <h4>{{champ.name}}</h4>
            <p>Tags: {{champ.tags.join(', ')}}</p>
            <p>Role: {{champ.role.join(', ')}}</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>