<banner bg="teambuilder" src="http://www.wallpaperup.com/151698/League_of_Legends_Ahri_Warrior_Tail_Game_Girl_Fantasy.html" title="Team Builder"></banner>

<div class="row">
  <div class="padding small-12 columns">
    
    <input id="search-champions" onfocus="this.placeholder = ''" onblur="this.placeholder = 'search champions...'" ng-show="showChampions" type="text" ng-model="champ.name" placeholder="search champions..."/>

    <div ng-show="showTeam">
      <div class="team-stats">
        <h4>Team Stats</h4>

        <table>
          <thead>
            <tr>
              <th>Offense</th>
              <th>Defense</th>
              <th>Offensive Difference</th>
              <th>Defensive Difference</th>
              <th>AP</th>
              <th>AD</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{teamStats.attack.toFixed(0)}} points</td>
              <td>{{teamStats.defense.toFixed(0)}} points</td>
              <td>{{(teamStats.attack - teamStats.defense).toFixed(0)}} points more offensive</td>
              <td>{{(teamStats.defense - teamStats.attack).toFixed(0)}} points more defensive</td>
              <td>{{((teamStats.ap / team.length) * 100).toFixed(0)}}%</td>
              <td>{{((teamStats.ad / team.length) * 100).toFixed(0)}}%</td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>

  </div>
</div>

<div ng-show="showTeam">
  <div class="team" ng-init="team = []">

    <div class="row">
      <div class="small-12 columns">
        <ul class="small-block-grid-5">
          <li ng-repeat="champ in team">
            <img ng-src="{{imageUrl}}{{champ.image.full}}">
            <div class="info">
              <h4>{{champ.name}}</h4>
              <p>Tags: {{champ.tags.join(', ')}}</p>
              <p>Role: {{champ.role.join(', ')}}</p>
            </div>
          </li>
        </ul>
      </div>
    </div>

  </div>
</div>

<div class="row">
  <div class="small-12 columns">

    <div ng-show="showChampions">
      <div ng-show="showSuggestions">
        <h3>Recommended Champions For {{role.charAt(0).toUpperCase() + role.slice(1)}} Composition</h3>

        <ul class="filtered-champions-container small-block-grid-4 medium-block-grid-6 large-block-grid-12">
          <li ng-repeat="champ in filteredChampions | filter: champ.name">
            <img ng-click="addToTeam(champ)" ng-src="{{imageUrl}}{{champ.image.full}}">
          </li>
        </ul>
      </div>

      <h3>All Champions</h3>
      <ul class="champions-container small-block-grid-4 medium-block-grid-6 large-block-grid-12">
        <li ng-repeat="champ in champions | filter: champ.name">
          <img ng-click="addToTeam(champ)" ng-src="{{imageUrl}}{{champ.image.full}}">
        </li>
      </ul>
    </div>

    <div ng-show="showCompleteTeam">
      <div class="send-link">
        <div class="row collapse">
          <div class="medium-3 columns end">
            <form ng-submit="saveTeam(team)">
              <input ng-hide="showUrl" type="submit" class="button" value="save team">
            </form> 
          </div>
          <div ng-show="showUrl" class="small-12 columns">
            <h2><a ng-href="/#/team-builder/{{url}}">http://loltrackr.com/#/team-builder/{{url}}</a></h2>
          </div>
        </div>

      </div>
    </div>


  </div>
</div>