<div class="row">
  <div class="padding small-12 columns">

    <h2>Add Video</h2>

    <div class="row collapse">
      <div class="small-6 columns">

        <form ng-submit="submitVideo(video)">
          <label>Title
            <input type="text" required ng-model="video.title"/>
          </label>

          <label>Youtube ID
            <input type="text" required ng-model="video.youtube_id"/>
          </label>

          <fieldset>
            <legend>Tags (separate by commas)</legend>

            <label>Players
              <input type="text" ng-model="video.player_list"/>
            </label>
            <label>Teams
              <input type="text" ng-model="video.team_list"/>
            </label>
            <label>Champions
              <input type="text" ng-model="video.champion_list"/>
            </label>
          </fieldset>

          <input class="button" type="submit" value="add">
        </form>

      </div>
      <div class="small-5 small-offset-1 columns">

        <div class="video-preview">
          <h3>{{video.title}}</h3>
          <p ng-show="video.youtube_id"><a ng-href="http://youtube.com/watch?v={{video.youtube_id}}">http://youtube.com/watch?v={{video.youtube_id}}</a></p>
          <img ng-show="video.youtube_id" ng-src="http://img.youtube.com/vi/{{video.youtube_id}}/hqdefault.jpg"/>
          <div class="tags-container">
            <ul class="small-block-grid-6">
              <li ng-repeat="champion in video.champion_list.split(',')" ng-bind-html="champion | championToIcon"></li>
            </ul>
            <div>
              <span class="tags" ng-repeat="player in video.player_list.split(',')" ng-bind-html="player | playerTrim"></span>
            </div>
            <div>
              <span class="tags light" ng-repeat="team in video.team_list.split(',')" ng-bind-html="team | teamTrim"></span>
            </div>
          </div>
        </div>
      
      </div>
    </div>

  </div>
</div>