<div class="show-video">
  <div class="row">
    <div class="small-12 large-12 columns">
      <h2>{{video.info.title}}</h2>
      
      <div ng-if="videoLoaded" id="video" class="videoWrapper">
        <youtube width="{{yt.width}}" height="{{yt.height}}" videoid="{{yt.videoid}}" time="{{yt.time}}"></youtube>
      </div>

      <a class="button reverse video-url" href="http://loltrackr.com/#/videos/{{video.info.id}}">http://loltrackr.com/#/videos/{{video.info.id}}</a>

    </div>
  </div>
</div>
<div class="box-padding row">
  <div class="video-meta small-12 large-7 columns">
    <h2>Play Breakdown</h2>
    <p><a>Add play</a></p>

    <form ng-submit="addPlay(play)">
      <div>
        <label>Players</label>
        <input placeholder="enter players separated by commas" ng-model="play.players" type="text"/>
      </div>
      <div>
        <label>Description</label>
        <input ng-model="play.description" type="text"/>
      </div>
      <div class="time">
        <label>Minute</label>
        <input ng-model="play.minute" type="text"/>
        <label>Second</label>
        <input ng-model="play.second" type="text"/>
      </div>
      <input type="submit" class="button sm" value="add">
    </form>
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>Players</th>
          <th>Description</th>
          <th>Time <small>m:s</small></th>
        </tr>
      </thead>
        <tr ng-repeat="play in plays.plays">
          <td>{{play.id}}</td>
          <td>{{plays.players.join(', ')}}</td>
          <td>{{play.description}}</td>
          <td class="time" ng-click="sendTime({minutes: play.minute, seconds: play.second})">{{play.minute}}m {{play.second}}s</td>
        </tr>
      <tbody>
      </tbody>
    </table>
  </div>
  <div class="video-info small-12 large-4 large-offset-1 columns">
    <h2>Info</h2>
    <div class="tags-container">
      <span class="tag-title">Players</span>
      <ul>
        <li ng-repeat="player in video.player_list" ng-bind-html="player | playerTrim"></li>
      </ul>
      <span class="tag-title">Teams</span>
      <ul>
        <li ng-repeat="team in video.team_list" ng-bind-html="team | teamTrim"></li>
      </ul>
      <span class="tag-title">Champions</span>
      <ul class="small-block-grid-4 champions medium-block-grid-8">
        <li ng-repeat="champion in video.champion_list" ng-bind-html="champion | championToIcon"></li>
      </ul>
    </div>
  </div>
</div>
<div class="related-videos">
  <div ng-show="relatedPlayer" class="highlight">
    <div class="row">
      <div class="player small-12 columns">
        <h4>Related Player Videos</h4>

        <ul class="large-block-grid-4 small-block-grid-1">
          <li ng-repeat="video in getRelatedByPlayer">
            <a ng-href="#/videos/{{video.id}}"><h5>{{video.title}}</h5></a>
            <a ng-href="#/videos/{{video.id}}"><img class="round" ng-src="http://img.youtube.com/vi/{{video.youtube_id}}/hqdefault.jpg"/></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div ng-show="relatedChampion" class="blank">
    <div class="row">
      <div class="champion small-12 columns">
        <h4>Related Champion Videos</h4>
        
        <ul class="large-block-grid-4 small-block-grid-1">
          <li ng-repeat="video in getRelatedByChampion">
            <a ng-href="#/videos/{{video.id}}"><h5>{{video.title}}</h5></a>
            <a ng-href="#/videos/{{video.id}}"><img class="round" ng-src="http://img.youtube.com/vi/{{video.youtube_id}}/hqdefault.jpg"/></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>