<div class="row">
  <div class="small-12 columns">


    <h2>Add Video</h2>

    placeholder for youtube search

    <form ng-submit="submitVideo(video)">
      <input type="text" ng-model="video.youtube_id" placeholder="youtube id"/>
      <input type="text" ng-model="video.title" placeholder="title"/>

      <select>
        <option ng-repeat="category in categories" ng-model="video.category">
      </select>

      <input type="text" ng-model="video.players" placeholder="add pro players seperated by commas"/>
      <input type="text" ng-model="video.champions" placeholder="add champions seperated by commas"/>
    </form>
    

  </div>
</div>