<div class="row">
  <div class="small-12 columns">

    <!-- video grid (sort by views, recent) -->
<!--     <div class="row collapsed">
      <div class="small-12 medium-3 columns">
        <div class="sort-container">
          <form>
            <select>
              <option>Date</option>
              <option>Views</option>
            </select>
          </form>
        </div>
      </div>
    </div> -->
    <div>
      <ul class="video-list small-block-grid-2 medium-block-grid-4">
          <li ng-repeat="video in videos">
            <h4><a ng-href="/#/videos/{{video.id}}">{{video.title}}</a></h4>
            <a ng-href="/#/videos/{{video.id}}"><img class="round" ng-src="{{youtubeThumb(video.youtube_id)}}"/></a>
          </li>
      </ul>
    </div>
  </div>
</div>